.DS_Store
*/.DS_Store
.venv
.whl
.egg
terraform/.tfstate
terraform/.lock
terraform/.tfvars

terraform/.hcl
terraform/.terraform
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

*/.terraform
terraform/.terraform

.venv
.venv

*/.venv

*.tfstate
*.tfvars


